{
  "image_configuration": {
    "images": {
      "blue_100x100.png": {
        "format": "L8_ARGB8888"
      },
      "gray_100x100png.png": {
        "format": "L8_ARGB8888"
      },
      "green_100x100.png": {
        "format": "L8_ARGB8888"
      },
      "indBatt.png": {
        "format": "L8_ARGB8888"
      },
      "indDTC.png": {
        "format": "L8_ARGB8888"
      },
      "indECT.png": {
        "format": "L8_ARGB8888"
      },
      "indFuel.png": {
        "format": "L8_ARGB8888"
      },
      "indHigh.png": {
        "format": "L8_ARGB8888"
      },
      "indLeft.png": {
        "format": "L8_ARGB8888"
      },
      "indLow.png": {
        "format": "L8_ARGB8888"
      },
      "indOil.png": {
        "format": "L8_ARGB8888"
      },
      "indPark.png": {
        "format": "L8_ARGB8888"
      },
      "indRight.png": {
        "format": "L8_ARGB8888"
      },
      "needel.png": {
        "format": "L8_ARGB8888"
      },
      "race_dash.png": {
        "format": "L8_ARGB8888"
      },
      "red_100x100.png": {
        "format": "L8_ARGB8888"
      },
      "speeduino1.png": {
        "format": "L8_ARGB8888"
      }
    },
    "dither_algorithm": "0",
    "alpha_dither": "no",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "L8_ARGB8888",
    "section": "IntFlashSection",
    "extra_section": "IntFlashSection"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}