{
  "image_configuration": {
    "images": {
      "indBatt.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "layout_rotation": "0"
      },
      "indDTC.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "layout_rotation": "0"
      },
      "indECT.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "layout_rotation": "0"
      },
      "indFuel.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "layout_rotation": "0"
      },
      "indHigh.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "layout_rotation": "0"
      },
      "indLeft.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "layout_rotation": "0"
      },
      "indLow.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "layout_rotation": "0"
      },
      "indOil.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "layout_rotation": "0"
      },
      "indPark.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "layout_rotation": "0"
      },
      "indRight.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "layout_rotation": "0"
      },
      "needel.png": {
        "format": "RGB565",
        "dither_algorithm": "0",
        "alpha_dither": "no",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "layout_rotation": "0"
      },
      "race.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no",
        "section": "ExtFlashSection",
        "extra_section": "ExtFlashSection",
        "layout_rotation": "0"
      }
    },
    "dither_algorithm": "0",
    "alpha_dither": "no",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "L8_ARGB8888",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}