{
  "image_configuration": {
    "images": {
      "blue_100x100.png": {
        "format": "L8_ARGB8888"
      },
      "gray_100x100png.png": {
        "format": "L8_ARGB8888"
      },
      "green_100x100.png": {
        "format": "L8_ARGB8888"
      },
      "__designer\\Blue_Buttons_Round_Edge_small.png": {
        "format": "L8_ARGB8888"
      },
      "__designer\\Blue_Buttons_Round_Edge_small_pressed.png": {
        "format": "L8_ARGB8888"
      },
      "__designer\\Blue_Check_buttons_Check_mark_active.png": {
        "format": "L8_ARGB8888"
      },
      "__designer\\Blue_Check_buttons_Check_mark_inactive.png": {
        "format": "L8_ARGB8888"
      },
      "__designer\\Blue_Check_buttons_Check_mark_normal.png": {
        "format": "L8_ARGB8888"
      },
      "__designer\\Blue_Check_buttons_Check_mark_pressed.png": {
        "format": "L8_ARGB8888"
      },
      "__designer\\Blue_Togglebars_Toggle_round_large_button_OFF.png": {
        "format": "L8_ARGB8888"
      },
      "__designer\\Blue_Togglebars_Toggle_round_large_button_ON.png": {
        "format": "L8_ARGB8888"
      },
      "inverter.png": {
        "format": "L8_ARGB8888"
      }
    },
    "dither_algorithm": "0",
    "alpha_dither": "no",
    "layout_rotation": "90",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "L8_ARGB8888",
    "section": "IntFlashSection",
    "extra_section": "IntFlashSection"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0"
  }
}